<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
          <span class="icon">
            <img src="{{siteRootPath}}/_/img/causeway-logo-no-words-65x48.png"></img>
          </span>
        <span class="navbar-title">{{site.title}}</span>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <a class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Quick Start</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Starter Apps</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/latest/starters/helloworld.html">Hello World</a>
            <a class="navbar-item" href="{{siteRootPath}}/docs/latest/starters/simpleapp.html">Simple App</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Learning &amp; Tutorials</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/latest/reference/about.html">Reference App</a>
            <a class="navbar-item" href="https://danhaywood.gitlab.io/isis-petclinic-tutorial-docs/petclinic/1.16.2/intro.html">Petclinic</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Resources</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/latest/resources/cheatsheet.html">Cheatsheet</a>
            <a class="navbar-item" href="{{siteRootPath}}/docs/latest/resources/icons.html">Icons</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Guides</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Core</span>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/latest/about.html">User Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/refguide/latest/about.html">Reference Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/testing/latest/about.html">Testing Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/latest/about.html">Security Guide</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">For use in apps</span>
            <a class="navbar-item" href="{{siteRootPath}}/valuetypes/latest/about.html">Value Types</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Development</span>
            <a class="navbar-item" href="{{siteRootPath}}/setupguide/latest/about.html">Setup Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/conguide/latest/about.html">Contributors' Guide</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Components</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Security</span>
            <a class="navbar-item" href="{{siteRootPath}}/security/latest/bypass/about.html">Bypass</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/latest/shiro/about.html">Shiro</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/latest/spring/about.html">Spring</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/latest/keycloak/about.html">Keycloak</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Viewers</span>
            <a class="navbar-item" href="{{siteRootPath}}/vw/latest/about.html">Web UI (Wicket)</a>
            <a class="navbar-item" href="{{siteRootPath}}/gqlv/latest/about.html">GraphQL</a>
            <a class="navbar-item" href="{{siteRootPath}}/vro/latest/about.html">REST API (Restful Objects)</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Persistence</span>
            <a class="navbar-item" href="{{siteRootPath}}/pjpa/latest/about.html">JPA (EclipseLink)</a>
            <a class="navbar-item" href="{{siteRootPath}}/pjdo/latest/about.html">JDO (DataNucleus)</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Extensions</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Core</span>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/latest/commandlog/about.html">Command Log</a>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/latest/docgen/about.html">Doc Gen</a>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/latest/executionlog/about.html">Execution Log</a>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/latest/executionoutbox/about.html">Execution Outbox</a>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/latest/executionrepublisher/about.html">Execution Republisher</a>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/latest/excel/about.html">Excel</a>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/latest/flyway/about.html">Flyway</a>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/latest/layoutloaders/about.html">Layout Loaders</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Security</span>
            <a class="navbar-item" href="{{siteRootPath}}/security/latest/secman/about.html">Secman</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/latest/audittrail/about.html">Audit Trail</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/latest/spring-oauth2/about.html">Spring OAuth2 Integration</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/latest/shiro-realm-ldap/about.html">LDAP Realm for Shiro</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/latest/sessionlog/about.html">Session Log</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Web UI (Wicket)</span>
            <a class="navbar-item" href="{{siteRootPath}}/vw/latest/fullcalendar/about.html">Full Calendar</a>
            <a class="navbar-item" href="{{siteRootPath}}/vw/latest/pdfjs/about.html">pdf.js</a>
            <a class="navbar-item" href="{{siteRootPath}}/vw/latest/sse/about.html">Server Side Events</a>
            <a class="navbar-item" href="{{siteRootPath}}/vw/latest/tabular/about.html">Tabular Download</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">REST API (Restful Objects)</span>
            <a class="navbar-item" href="{{siteRootPath}}/vro/latest/cors/about.html">CORS</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Support</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Contact</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/latest/support/slack-channel.html">Slack</a>
            <a class="navbar-item" href="{{siteRootPath}}/docs/latest/support/mailing-list.html">Mailing Lists</a>
            <a class="navbar-item" href="https://issues.apache.org/jira/browse/CAUSEWAY">JIRA</a>
            <a class="navbar-item" href="https://stackoverflow.com/questions/tagged/causeway">Stack Overflow</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Releases</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/latest/downloads/how-to.html">Downloads</a>
            <a class="navbar-item" href="{{siteRootPath}}/relnotes/latest/about.html">Release Notes</a>
            <hr class="navbar-divider"/>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Framework</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Process</span>
            <a class="navbar-item" href="{{siteRootPath}}/comguide/latest/about.html">Committers' Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/tooling/latest/about.html">Tooling</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Automated Analysis</span>
            <a class="navbar-item" href="https://sonarcloud.io/dashboard?id=apache_isis">SonarCloud.io</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Interim Builds</span>
            <a class="navbar-item" href="{{siteRootPath}}/comguide/latest/nightly-builds.html">Nightly builds</a>
            <a class="navbar-item" href="{{siteRootPath}}/comguide/latest/weekly-builds.html">Weekly builds</a>
            <a class="navbar-item" href="https://apache-causeway-committers.github.io/causeway-nightly">Website Preview (not ASF hosted)</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Development</span>
            <a class="navbar-item" href="{{siteRootPath}}/core/latest/about.html">Internal Design Docs</a>
            <a class="navbar-item" href="{{siteRootPath}}/regressiontests/latest/about.html">Regression Tests</a>
            <a class="navbar-item" href="{{siteRootPath}}/incubator/latest/about.html">Incubator</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Thanks</span>
            <a class="navbar-item" href="{{siteRootPath}}/more-thanks/latest/more-thanks.html">Acknowledgements</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">ASF</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="http://www.apache.org/">Apache Homepage</a>
            <a class="navbar-item" href="https://www.apache.org/events/current-event">Events</a>
            <a class="navbar-item" href="https://www.apache.org/licenses/">License</a>
            <a class="navbar-item" href="https://www.apache.org/security/">Security</a>
            <a class="navbar-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy</a>
            <a class="navbar-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a>
            <a class="navbar-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a>
            <hr class="navbar-divider"/>
            <a class="navbar-item" href="https://whimsy.apache.org/board/minutes/Causeway.html">PMC board minutes</a>
          </div>
        </div>
        <a class="navbar-item" href="{{siteRootPath}}/docs/latest/about.html">
          <span class="icon">
            <img src="{{siteRootPath}}/_/img/home.png"></img>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
