<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
          <span class="icon">
            <img src="{{siteRootPath}}/_/img/causeway-logo-no-words-65x48.png"></img>
          </span>
        <span class="navbar-title">{{site.title}}</span>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <a class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Quick Start</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Starter Apps</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/{{page.attributes.causewayrel}}/starters/helloworld.html">Hello World</a>
            <a class="navbar-item" href="{{siteRootPath}}/docs/{{page.attributes.causewayrel}}/starters/simpleapp.html">Simple App</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Demos &amp; Tutorials</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/{{page.attributes.causewayrel}}/demo/about.html">Demo App</a>
            <a class="navbar-item" href="https://danhaywood.gitlab.io/isis-petclinic-tutorial-docs/petclinic/1.16.2/intro.html">Petclinic (tutorial)</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Resources</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/{{page.attributes.causewayrel}}/resources/cheatsheet.html">Cheatsheet</a>
            <a class="navbar-item" href="{{siteRootPath}}/docs/{{page.attributes.causewayrel}}/resources/icons.html">Icons</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Guides</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Core</span>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/{{page.attributes.causewayrel}}/about.html">User Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/refguide/{{page.attributes.causewayrel}}/about.html">Reference Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/testing/{{page.attributes.causewayrel}}/about.html">Testing Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/{{page.attributes.causewayrel}}/about.html">Security Guide</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">For use in apps</span>
            <a class="navbar-item" href="{{siteRootPath}}/valuetypes/{{page.attributes.causewayrel}}/about.html">Value Types</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Development</span>
            <a class="navbar-item" href="{{siteRootPath}}/setupguide/{{page.attributes.causewayrel}}/about.html">Setup Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/conguide/{{page.attributes.causewayrel}}/about.html">Contributors' Guide</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Components</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Viewers</span>
            <a class="navbar-item" href="{{siteRootPath}}/vw/{{page.attributes.causewayrel}}/about.html">Web UI (Wicket)</a>
            <a class="navbar-item" href="{{siteRootPath}}/vro/{{page.attributes.causewayrel}}/about.html">REST API (Restful Objects)</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Persistence</span>
            <a class="navbar-item" href="{{siteRootPath}}/pjpa/{{page.attributes.causewayrel}}/about.html">JPA (EclipseLink)</a>
            <a class="navbar-item" href="{{siteRootPath}}/pjdo/{{page.attributes.causewayrel}}/about.html">JDO (DataNucleus)</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Security</span>
            <a class="navbar-item" href="{{siteRootPath}}/security/{{page.attributes.causewayrel}}/bypass/about.html">Bypass (Authenticator & Authorizor)</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/{{page.attributes.causewayrel}}/shiro/about.html">Shiro (Authenticator & Authorizor)</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/{{page.attributes.causewayrel}}/spring/about.html">Spring (Authenticator only)</a>
            <a class="navbar-item" href="{{siteRootPath}}/security/{{page.attributes.causewayrel}}/keycloak/about.html">Keycloak (Authenticator only)</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Extensions</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Core</span>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/userguide/{{page.attributes.causewayrel}}/commandlog/about.html">Command Log</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/userguide/{{page.attributes.causewayrel}}/executionlog/about.html">Execution Log</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/userguide/{{page.attributes.causewayrel}}/executionoutbox/about.html">Execution Outbox</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/userguide/{{page.attributes.causewayrel}}/executionrepublisher/about.html">Execution Republisher</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/userguide/{{page.attributes.causewayrel}}/excel/about.html">Excel</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/userguide/{{page.attributes.causewayrel}}/flyway/about.html">Flyway</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Security</span>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/security/{{page.attributes.causewayrel}}/secman/about.html">Secman</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/security/{{page.attributes.causewayrel}}/audittrail/about.html">Audit Trail</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/security/{{page.attributes.causewayrel}}/spring-oauth2/about.html">Spring OAuth2 Integration</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/security/{{page.attributes.causewayrel}}/shiro-realm-ldap/about.html">LDAP Realm for Shiro</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/security/{{page.attributes.causewayrel}}/sessionlog/about.html">Session Log</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Web UI (Wicket)</span>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/vw/{{page.attributes.causewayrel}}/exceldownload/about.html">Excel Download</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/vw/{{page.attributes.causewayrel}}/fullcalendar/about.html">Full Calendar</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/vw/{{page.attributes.causewayrel}}/pdfjs/about.html">pdf.js</a>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/vw/{{page.attributes.causewayrel}}/sse/about.html">Server Side Events</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">REST API (Restful Objects)</span>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/{{page.attributes.causewayrel}}/vro/{{page.attributes.causewayrel}}/cors/about.html">CORS</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Support</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Contact</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/{{page.attributes.causewayrel}}/support/slack-channel.html">Slack</a>
            <a class="navbar-item" href="{{siteRootPath}}/docs/{{page.attributes.causewayrel}}/support/mailing-list.html">Mailing Lists</a>
            <a class="navbar-item" href="https://issues.apache.org/jira/browse/CAUSEWAY">JIRA</a>
            <a class="navbar-item" href="https://stackoverflow.com/questions/tagged/causeway">Stack Overflow</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Releases</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/{{page.attributes.causewayrel}}/downloads/how-to.html">Downloads</a>
            <a class="navbar-item" href="{{siteRootPath}}/relnotes/{{page.attributes.causewayrel}}/about.html">Release Notes</a>
            <hr class="navbar-divider"/>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Framework</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Process</span>
            <a class="navbar-item" href="{{siteRootPath}}/comguide/{{page.attributes.causewayrel}}/about.html">Committers' Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/tooling/{{page.attributes.causewayrel}}/about.html">Tooling</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Automated Analysis</span>
            <a class="navbar-item" href="https://sonarcloud.io/dashboard?id=apache_isis">SonarCloud.io</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Interim Builds</span>
            <a class="navbar-item" href="{{siteRootPath}}/comguide/{{page.attributes.causewayrel}}/nightly-builds.html">Nightly builds</a>
            <a class="navbar-item" href="{{siteRootPath}}/comguide/{{page.attributes.causewayrel}}/weekly-builds.html">Weekly builds</a>
            <a class="navbar-item" href="https://apache-causeway-committers.github.io/causeway-nightly">Website Preview (not ASF hosted)</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Development</span>
            <a class="navbar-item" href="{{siteRootPath}}/core/{{page.attributes.causewayrel}}/about.html">Internal Design Docs</a>
            <a class="navbar-item" href="{{siteRootPath}}/regressiontests/{{page.attributes.causewayrel}}/about.html">Regression Tests</a>
            <a class="navbar-item" href="{{siteRootPath}}/incubator/{{page.attributes.causewayrel}}/about.html">Incubator</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Thanks</span>
            <a class="navbar-item" href="{{siteRootPath}}/more-thanks/{{page.attributes.causewayrel}}/more-thanks.html">Acknowledgements</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">ASF</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="http://www.apache.org/">Apache Homepage</a>
            <a class="navbar-item" href="https://www.apache.org/events/current-event">Events</a>
            <a class="navbar-item" href="https://www.apache.org/licenses/">Licenses</a>
            <a class="navbar-item" href="https://www.apache.org/security/">Security</a>
            <a class="navbar-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a>
            <a class="navbar-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a>
            <hr class="navbar-divider"/>
            <a class="navbar-item" href="https://whimsy.apache.org/board/minutes/Causeway.html">PMC board minutes</a>
          </div>
        </div>
        <a class="navbar-item" href="{{siteRootPath}}/docs/{{page.attributes.causewayrel}}/about.html">
          <span class="icon">
            <img src="{{siteRootPath}}/_/img/home.png"></img>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
