<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Quick Start</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Starter Apps</span>
            <a class="navbar-item" href="{{siteRootPath}}/starters/helloworld/about.html">Hello World</a>
            <a class="navbar-item" href="{{siteRootPath}}/starters/simpleapp/about.html">Simple App</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Demos &amp; Tutorials</span>
            <a class="navbar-item" href="{{siteRootPath}}/demoapp/about.html">Demo App</a>
            <a class="navbar-item" href="https://danhaywood.gitlab.io/isis-petclinic-tutorial-docs/petclinic/1.16.2/intro.html">Petclinic (tutorial)</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Guides</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">User</span>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/about.html">User Guide</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Reference</span>
            <a class="navbar-item" href="{{siteRootPath}}/refguide/about.html">Reference Guide</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Security</span>
            <a class="navbar-item" href="{{siteRootPath}}/security/about.html">Security Guide</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Testing</span>
            <a class="navbar-item" href="{{siteRootPath}}/testing/about.html">Testing Guide</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Components</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Viewers</span>
            <a class="navbar-item" href="{{siteRootPath}}/vw/about.html">Wicket UI</a>
            <a class="navbar-item" href="{{siteRootPath}}/vro/about.html">Restful Objects (REST)</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Persistence</span>
            <a class="navbar-item" href="{{siteRootPath}}/odn/about.html">DataNucleus Object Store</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Catalogs</span>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/about.html">Extensions Catalog</a>
            <a class="navbar-item" href="{{siteRootPath}}/incubator/about.html">Incubator Catalog</a>
            <a class="navbar-item" href="{{siteRootPath}}/legacy/about.html">Legacy Catalog</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Support</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Contact</span>
            <a class="navbar-item" href="{{siteRootPath}}/toc/mailing-list/how-to-subscribe.html">Mailing Lists</a>
            <a class="navbar-item" href="https://the-asf.slack.com/archives/CFC42LWBV">Slack</a>
            <a class="navbar-item" href="https://issues.apache.org/jira/browse/ISIS">JIRA</a>
            <a class="navbar-item" href="https://stackoverflow.com/questions/tagged/isis">Stack Overflow</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Resources</span>
            <a class="navbar-item" href="{{siteRootPath}}/toc/devguide/about.html">Developers' Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/toc/mavendeps/about.html">Maven dependencies</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Releases</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Releases</span>
            <a class="navbar-item" href="{{siteRootPath}}/toc/downloads/how-to.html">Downloads</a>
            <a class="navbar-item" href="{{siteRootPath}}/relnotes/about.html">Release Notes</a>
            <a class="navbar-item" href="{{siteRootPath}}/mignotes/about.html">Migration Notes</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Internal</span>
            <a class="navbar-item" href="{{siteRootPath}}/toc/comguide/about.html">Committers' Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/core/about.html">Core Framework</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">@ASF</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="http://www.apache.org/">Apache Homepage</a>
            <a class="navbar-item" href="https://www.apache.org/events/current-event">Events</a>
            <a class="navbar-item" href="https://www.apache.org/licenses/">Licenses</a>
            <a class="navbar-item" href="https://www.apache.org/security/">Security</a>
            <a class="navbar-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a>
            <a class="navbar-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a>
            <hr class="navbar-divider"/>
            <a class="navbar-item" href="https://whimsy.apache.org/board/minutes/Isis.html">PMC board minutes</a>
          </div>
        </div>
        <a class="navbar-item" href="{{siteRootPath}}/toc/about.html">
          <span class="icon">
            <img src="{{siteRootPath}}/_/img/isis-logo-48x48.png"></img>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
