<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
          <span class="icon">
            <img src="{{siteRootPath}}/_/img/isis-logo-48x48.png"></img>
          </span>
        <span>{{site.title}}</span>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <a class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Quick Start</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Starter Apps</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/starters/helloworld.html">Hello World</a>
            <a class="navbar-item" href="{{siteRootPath}}/docs/starters/simpleapp.html">Simple App</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Demos &amp; Tutorials</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/demo/about.html">Demo App</a>
            <a class="navbar-item" href="https://danhaywood.gitlab.io/isis-petclinic-tutorial-docs/petclinic/1.16.2/intro.html">Petclinic (tutorial)</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Resources</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/resources/cheatsheet.html">Cheatsheet</a>
            <a class="navbar-item" href="{{siteRootPath}}/docs/resources/icons.html">Icons</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Guides</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Development</span>
            <a class="navbar-item" href="{{siteRootPath}}/setupguide/about.html">Setup Guide</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Core</span>
            <a class="navbar-item" href="{{siteRootPath}}/userguide/about.html">User Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/refguide/about.html">Reference Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/testing/about.html">Testing Guide</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Libraries</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">For Use in Apps</span>
            <a class="navbar-item" href="{{siteRootPath}}/subdomains/about.html">Subdomain Libraries</a>
            <a class="navbar-item" href="{{siteRootPath}}/valuetypes/about.html">Value Types</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Integrate between Apps</span>
            <a class="navbar-item" href="{{siteRootPath}}/mappings/about.html">Bounded Context Mapping Libraries</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Other</span>
            <a class="navbar-item" href="{{siteRootPath}}/incubator/about.html">Incubator</a>
            <a class="navbar-item" href="{{siteRootPath}}/legacy/about.html">Legacy</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Components</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Viewers</span>
            <a class="navbar-item" href="{{siteRootPath}}/vw/about.html">Wicket UI</a>
            <a class="navbar-item" href="{{siteRootPath}}/vro/about.html">Restful Objects (REST)</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Security</span>
            <a class="navbar-item" href="{{siteRootPath}}/security/about.html">Security Guide</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Persistence</span>
            <a class="navbar-item" href="{{siteRootPath}}/pjdo/about.html">DataNucleus (JDO)</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Extensions</span>
            <a class="navbar-item" href="{{siteRootPath}}/extensions/about.html">Extensions Catalog</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Support</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">Contact</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/support/slack-channel.html">Slack</a>
            <a class="navbar-item" href="{{siteRootPath}}/docs/support/mailing-list.html">Mailing Lists</a>
            <a class="navbar-item" href="https://issues.apache.org/jira/browse/ISIS">JIRA</a>
            <a class="navbar-item" href="https://stackoverflow.com/questions/tagged/isis">Stack Overflow</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Releases</span>
            <a class="navbar-item" href="{{siteRootPath}}/docs/downloads/how-to.html">Downloads</a>
            <a class="navbar-item" href="{{siteRootPath}}/relnotes/about.html">Release Notes</a>
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Framework</span>
            <a class="navbar-item" href="{{siteRootPath}}/conguide/about.html">Contributors' Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/comguide/about.html">Committers' Guide</a>
            <a class="navbar-item" href="{{siteRootPath}}/core/about.html">Core Design</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Archive</a>
          <div class="navbar-dropdown">
            <span class="navbar-item navbar-heading">v1.x Docs</span>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.17.0/documentation.html">1.17.0</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.16.2/documentation.html">1.16.2</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.16.1/documentation.html">1.16.1</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.16.0/documentation.html">1.16.0</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.15.1/documentation.html">1.15.1</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.15.0/documentation.html">1.15.0</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.14.0/documentation.html">1.14.0</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.13.2.1/documentation.html">1.13.2.1</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.13.2/documentation.html">1.13.2</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.13.1/documentation.html">1.13.1</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.13.0/documentation.html">1.13.0</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.12.2/documentation.html">1.12.2</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.12.1/documentation.html">1.12.1</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.12.0/documentation.html">1.12.0</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.11.1/documentation.html">1.11.1</a>
            <a class="navbar-item" href="{{siteRootPath}}/versions/1.11.0/documentation.html">1.11.0</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">ASF</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="http://www.apache.org/">Apache Homepage</a>
            <a class="navbar-item" href="https://www.apache.org/events/current-event">Events</a>
            <a class="navbar-item" href="https://www.apache.org/licenses/">Licenses</a>
            <a class="navbar-item" href="https://www.apache.org/security/">Security</a>
            <a class="navbar-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a>
            <a class="navbar-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a>
            <hr class="navbar-divider"/>
            <a class="navbar-item" href="https://whimsy.apache.org/board/minutes/Isis.html">PMC board minutes</a>
          </div>
        </div>
        <a class="navbar-item" href="{{siteRootPath}}/docs/about.html">
          <span class="icon">
            <img src="{{siteRootPath}}/_/img/home.png"></img>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
